# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Airflow files
airflow.db
airflow.cfg
webserver_config.py
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

# Log files
*.log

# AWS credentials / EC2 keys
*.pem

# OS files
.DS_Store

# Docker / Environment files
.env
postgres-db-volume/
docker-compose.yml
Dockerfile

